{% extends "base2.html" %}
{% block title %}Create Post{% endblock %}
{% block content %}


<body>
<ul class="navpane">
<li class = "navlogo"><a href="/"><img src = "../static/speechbubble.jpg"  alt="Logo" style = "width:65px; height=100%;"></a></li>
<li class = "navitem"><a href="/">Home</a></li>
<li class = "navitem"><a href="/contact">Contact Us</a></li>
<li class = "navitem"><a href="/about">About Us</a></li>
<li class = "navitem"><a href="/login">Log In</a></li>
<li class = "navitem"><a href="/signup">Sign Up</a></li>
</ul>

<div id="flexboxabout">

<div class="boxabout">

<img src="../static/speechbubble.jpg"  alt="Home"></img>
</div>

<div class="boxabout">

Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui 
dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora 
incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum 
exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem 
vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui 
dolorem eum fugiat quo voluptas nulla pariatur?
</div>
</div>
</body>
{% endblock %}