{% extends "base2.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<body>
<ul class="navpane">
<li class = "navlogo"><a href="/"><img src = "../static/speechbubble.jpg"  alt="Logo" style = "width:65px; height=100%;"></a></li>
<li class = "navitem"><a href="/">Home</a></li>
<li class = "navitem"><a href="/contact">Contact Us</a></li>
<li class = "navitem"><a href="/about">About Us</a></li>
<li class = "navitem"><a href="/login">Log In</a></li>
<li class = "navitem"><a href="/signup">Sign Up</a></li>
</ul>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  {% for message in LogForm.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 
  {% for message in LogForm.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

<form action="/loginCheck" method="POST" id = "loginform">
   {{ LogForm.hidden_tag() }}
   <dl>
      <dt style = "font-size: 20px">Email Address:</dt>
      <dd>{{ LogForm.email(class_="shorttext") }}</dd>
	  <br>
	  <br>
	  <dt style = "font-size: 20px">Password:</dt>
      <dd>{{ LogForm.password(class_="shorttext") }}</dd>
	  <br>
	  <br>
	  <button class="button3">Sign In</button>
   </dl>
</form>

{% endblock %}